html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  font: inherit;
  font-family: "Helvetica", sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background-color: inherit;
  list-style: none;
}

.clear-fix:after {
  content: "";
  clear: both;
  display: block;
}

.wrapper {
  width: 800px;
  float: left;
  border: 1px solid black;
  height: 600px;
}

.score-board {
  float:left;
  display: block;
  height: 300px;
  width: 200px;
  border: 1px solid black;
}

.intro-social-buttons {
  padding-left: 20px;
  background: transparent;
  width: 200px;
  display: block;
}
